.partners-container h1 {
    text-align: center;
    padding: 20px 0;
 }

.partners-container h1, table {
    width: 30%;
    margin: 0 auto;
}

.partners-container table {
    border-collapse: collapse;
}

.partners-container table, td, th {
    border: 1px solid black;
}

